<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--按视频中添加定义参数 第6节 4分-->
	<variable  name="varDataFolderPath" value="${basedir}/Logs" />
	<variable  name="varLayHeader" value="${longdate}|${level}" />
	<variable  name="varLayMiddle" value="${callsite-linenumber}|${callsite:includeSourcePath=false:methodName=false}" />
	<variable  name="varLayBack" value="${message}|${exception:format=toString}" />

	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="log_file" xsi:type="File"
					fileName="${varDataFolderPath}/${shortdate}/${shortdate}.log"
					layout="${varLayHeader}|${varLayMiddle}|${varLayBack}"
					archiveFileName="${basedir}/archives/${shortdate}-{#####}.log"
					archiveAboveSize="102400"
					archiveNumbering="Sequence"
					concurrentWrites="true"
					keepFileOpen="false" />
		</target>
		<target name="console" xsi:type="ColoredConsole" layout="${varLayHeader}|${varLayMiddle}|${varLayBack}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="asyncFile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>